/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color-ground);
}

/* SEPARATOR */
.separator {
  position: absolute;
  width: 100%;
  top: -15px;
  left: 0;
  height: 15px;
  background-image: url("../images/ground-separator.svg");
  position: relative;
  top: -8px;
}
/* PANEL */
.panel {
  min-width: 250px;
  max-width: 650px;
  margin: auto;
  width: 100%;
  padding: 1em;
  padding-top: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.panel h2 {
  color: var(--white);
  font-size: 1.2em;
}

/* BUTTON */
.evolution {
  background-color: var(--white-60);
  min-height: 55px;
  border-radius: var(--radius-15);
  border: 3px solid var(--bg-color-ground);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.evolution figure {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0.65em;
  align-items: center;
  width: 100%;
  color: var(--text-color);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}
.evolution figure h3 {
  line-height: 0.85em;
  padding-bottom: 0;
  padding-top: 0.3em;
  font-size: 0.85em;
}
.evolution figcaption {
  font-size: var(--big-font-light);
}

/* PRICE */
.token-score {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;

  font-size: var(--score-panel);
}
.token-score p {
  padding-left: 0.3em;
}
.token-score img {
  height: 0.87em;
  width: auto;
}

/* TAMPON */
.tampon {
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 60px;
}

@keyframes tocent {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.to-cent {
  animation-name: tocent;
  animation-duration: 15s;
  animation-timing-function: linear;
}