header {
  position: relative;
  z-index: 5;
  max-width: 650px;
  margin: auto;
}

nav {
  display: flex;
  background-color: transparent;
  max-width: 100%;
  justify-content: space-between;
  padding: 1em;
  font-size: var(--top-bar-font-size);
}
.top-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color-info);
  cursor: pointer;
}
.top-button h3,
h4 {
  padding-left: 0.4rem;
}
#button-rules {
  cursor: help;
}
@media screen and (min-width: 901px) {
  /*landscape tabs, mini laptops */
  nav {
    max-width: 900px;
    margin: auto;
  }
}
